body {
    background-color: black;
    color: white;
    margin: 20px;
    font: 32px "Century Gothic", Futura, sans-serif;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black ;
}

.board {
    background-color: orange;
    margin: 10px;
    padding: 20px;
}

.board-row {
    display: flex;
    flex-flow: row nowrap;
}

/* each square */
.square {
    background-color: gray;
    color: white;
    border: 1px solid white;
    padding: 0;
    font-size: 84px;
    text-align: center;
    width: 100px;
    height: 100px;
}

/* when square is clicked or in focus */
.square:focus {
    outline: none;
    background-color: black;
}

/* player turn */
.status {
    margin: 20px;
    font-size: 24px;
}