body {
    background-color: #104e7a;
    color: white;
    margin: 20px;
    font: 32px "Century Gothic", Futura, sans-serif;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-weight: bolder;
}

.board {
    background-color: #2d87c8;
    margin: 30px;
    padding: 30px;
    border: 5px solid white;
    border-radius: 20px;
}

.board-row {
    display: flex;
    flex-flow: row nowrap;
}

/* each square */
.square {
    background-color: lightgray;
    color: white;
    border: 3px solid white;
    padding: 0;
    font-size: 84px;
    text-align: center;
    width: 100px;
    height: 100px;
}

/* when square is clicked or in focus */
.square:focus {
    outline: none;
    background-color: black;
}

/* player turn */
.status {
    margin: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
}